.aside {
  width: 100px;
  background-color: #323e48;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0px;
  overflow-y: auto;
  z-index: 99;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px 7px;
}

.sidebar-nav ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0px;
}

.sidebar-nav ul li a {
  text-align: center;
  font-size: 12px;
  color: #a2a1a1;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-nav ul li a.active {
  color: #fff;
}
.sidebar-nav ul li a .nav-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #202a33;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.sidebar-nav ul li a.active .nav-icon {
  background-color: #0097cf;
}
.sidebar-nav ul li a:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .sidebar-nav ul:first-child {
    margin-bottom: 15px;
  }
}
